body {
    position: relative;
    padding-bottom: 6rem;
    min-height: 100%;
}

footer {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    padding: 1rem;
    text-align: center;
    
}

footer .brand-link {
    color: rgba(0,0,0,.4);
    text-decoration: none !important;
}

footer .brand-link:hover {
    color: rgba(0,0,0,.8);
}

.album-edit-buttons {
    margin-bottom: 20px;
}

.album-wrapper {
    padding: 10px;
}

.album-edit-controls {
    overflow: hidden;
}

.image-editor {
    position: relative;
    overflow: hidden;
    text-align: center;
}

.image-editor-description.form-control {
    border-radius: 0;
}

.image-editor-thumbnail {
    max-width: 100%;
    max-height: 300px;
}

.album-editor-description,
.image-editor-description {
    resize: none;
}

.album {  
    position: relative;
    z-index: 10;
    display: block;
    padding: 4px;
    text-decoration: none !important;
    color: rgba(0,0,0,.9) !important;
    line-height: 2;
}
 
.album:before, .album:after {
    content: "";
    border-radius: 3px;
    width: 100%;
    height: 100%;
    position: absolute;
    border: 10px solid #fff;
    left: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -webkit-transition: 0.3s all ease-out;
    -moz-transition: 0.3s all ease-out;
    transition: 0.3s all ease-out;
}
.album:before { top: 4px; z-index: -10; }
.album:after { top: 8px; z-index: -20; }
 
.album .thumbnail {
    position: relative;
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
    border-radius: 3px;
    padding-bottom: 100%;
    overflow: hidden;
}

.album .thumbnail {
    background-color: #e9ebee;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.4);
}

.album .thumbnail .thumb {
    position: absolute;
    background-repeat: no-repeat;
    height: 100%;
    width: 100%;
}

.album .thumbnail .thumb {
    background-position: 50% 25%;
    background-size: cover;
}

.photo-grid .photo-container {
    cursor: pointer;
}

.photo-grid .menu-item .image-thumb {
    border: 2px dashed rgba(0, 0, 0, 0.4);
    border-radius: 8px;
    background-color: #eee;
}

.album-header {
    margin-bottom: 15px;
}

.album-list .album-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.album-page .album-title {
    word-wrap: break-word;
}

.menu-item-content {
    position: absolute;
    top: 25%;
    width: 100%;
    text-align: center;
    color:  rgba(0, 0, 0, 0.4);
}

.menu-icon {
    margin-top: -72px;
    margin-bottom: -46px;
    font-size: 7em;
}

.menu-text {
    font-size: 1.5em;
}

.image-edit-controls .btn-group {
    width: 100%;
}

.image-edit-controls .btn-group .btn {
    border-radius: 0 !important;
}