{{define "content"}}
<div class="album-list row">
    {{ range $album := .Albums }}
    <div class="col-3 album-wrapper">
        <a href="/album/{{$album.ID}}" class="album" title="{{$album.Title}}">
            <div class="thumbnail">
                {{ if $album.CoverPhotoID }}
                <div class="thumb img img-responsive full-width" style="background-image: url('/images/{{$album.ID}}/{{$album.CoverPhotoID}}.thumb.jpg')"></div>
                {{ end }}
            </div>
            <div class="album-title">{{$album.Title}}</div>
        </a>
    </div>
    {{ end }}
</div>
{{ end }}